<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/weather.png" />
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <div class="main-content">
        {{> header }}  {{!-- Include header partial --}}
        <p>{{errorMessage}}</p>
    </div>
    {{> footer }} {{!-- Include footer partial --}}
</body>
</html>