<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/weather.png" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="main-content">
        {{> header }}  {{!-- Include header partial --}}
        <img class="portrait" src="/images/img.webp" alt="About Image">
    </div>
    {{!-- Include footer partial --}}
    {{> footer }}
</body>
</html>